body {
  font-family: Montserrat;
  font-size: 100px;
}

@media (max-width: 500px){
  h1 {
    color: blue;
    font-size: 90px;
  }
  
}

@media (max-width : 900px){
  .pic1 {
    height: 3em;
    width: 3.5em;
  }
  
}